@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: overlay;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  /* user-select: none; */
  padding: 20px;
}

